.menu-static{
	height: 60px;
	width: 100%;
	background: red;
	padding: ;
	position: absolute;
	top: 0;
	right: 0;
}

.logo{
	color: #fafafa;
	display: block;
	margin-left: 40px;
	
}


body{
	background: #fafafa; /* url(../images/fondo01.jpg);*/

}
